{% extends 'base.html.twig' %}

{% block title %}Weather forecast{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Cities matching your criteria</h1>

    {% if form.city.vars.choices|length == 0 %}
        <p>No such cities found</p>
    {% else %}
        {{ form(form) }}
    {% endif %}

</div>
{% endblock %}
